In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [25]:
aapl = yf.Ticker('AAPL')

In [26]:
days = 20
hist_aapl = aapl.history(period=f'{days}d')
hist_aapl

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-04-30,131.556541,133.333521,130.847753,131.237091,109713200,0.00,0
2021-05-03,131.816094,133.842666,131.606459,132.315247,75135100,0.00,0
2021-05-04,130.967542,131.267036,126.485150,127.633202,137564700,0.00,0
2021-05-05,128.980915,130.228796,127.753005,127.882790,84000900,0.00,0
2021-05-06,127.673135,129.529982,126.914422,129.520004,78128300,0.00,0
2021-05-07,130.850006,131.259995,129.479996,130.210007,78892700,0.22,0
2021-05-10,129.410004,129.539993,126.809998,126.849998,88071200,0.00,0
2021-05-11,123.500000,126.269997,122.769997,125.910004,126142800,0.00,0
2021-05-12,123.400002,124.639999,122.250000,122.769997,112172300,0.00,0
2021-05-13,124.580002,126.150002,124.260002,124.970001,105861300,0.00,0
2021-05-14,126.250000,127.889999,125.849998,127.449997,81806500,0.00,0
2021-05-17,126.820000,126.930000,125.169998,126.269997,74244600,0.00,0
2021-05-18,126.559998,126.989998,124.779999,124.849998,63342900,0.00,0
2021-05-19,123.160004,124.919998,122.860001,124.690002,92612000,0.00,0
2021-05-20,125.230003,127.720001,125.099998,127.309998,76756000,0.00,0
2021-05-21,127.820000,128.000000,125.209999,125.430000,79209300,0.00,0
2021-05-24,126.010002,127.940002,125.940002,127.099998,63092900,0.00,0
2021-05-25,127.820000,128.320007,126.320000,126.900002,72009500,0.00,0
2021-05-26,126.959999,127.389999,126.419998,126.849998,56496100,0.00,0
2021-05-27,126.440002,127.639999,125.279999,125.279999,94625601,0.00,0

In [27]:
hist_aapl.index =  hist_aapl.index.strftime('%d %B %Y')

In [31]:
hist = hist_aapl[['Close']]
hist.columns = ['apple']
hist = hist.T
hist

Date,30 April 2021,03 May 2021,04 May 2021,05 May 2021,06 May 2021,07 May 2021,10 May 2021,11 May 2021,12 May 2021,13 May 2021,14 May 2021,17 May 2021,18 May 2021,19 May 2021,20 May 2021,21 May 2021,24 May 2021,25 May 2021,26 May 2021,27 May 2021
apple,131.237091,132.315247,127.633202,127.88279,129.520004,130.210007,126.849998,125.910004,122.769997,124.970001,127.449997,126.269997,124.849998,124.690002,127.309998,125.43,127.099998,126.900002,126.849998,125.279999

In [35]:
days = 20
tickers = {
    'apple':'AAPL',
    'facebook':'FB',
}

company = 'facebook'
tkr = yf.Ticker(tickers[company])

hist = tkr.history(period=f'{days}d')
hist

hist = hist[['Close']]
hist.columns = [company]
hist = hist.T
hist.index.name = 'Name'
hist

Date,2021-04-30,2021-05-03,2021-05-04,2021-05-05,2021-05-06,2021-05-07,2021-05-10,2021-05-11,2021-05-12,2021-05-13,2021-05-14,2021-05-17,2021-05-18,2021-05-19,2021-05-20,2021-05-21,2021-05-24,2021-05-25,2021-05-26,2021-05-27
Name,,,,,,,,,,,,,,,,,,,,
facebook,325.079987,322.579987,318.359985,315.019989,320.019989,319.079987,305.970001,306.529999,302.549988,305.26001,315.940002,315.459991,309.959991,313.589996,318.609985,316.230011,324.630005,327.790009,327.660004,332.75

In [39]:
days = 20

tickers = {
    'apple':'AAPL',
    'facebook':'FB',
    'google':'GOOGL',
    'microsoft':'MSFT',
    'netflix':'NFLX',
    'amazon':'amzn'
}

df = pd.DataFrame()
for company in tickers.keys():
    tkr = yf.Ticker(tickers[company])

    hist = tkr.history(period=f'{days}d')
    hist

    hist = hist[['Close']]
    hist.columns = [company]
    hist = hist.T
    hist.index.name = 'Name'
    df = pd.concat([df, hist])

In [40]:
df

Date,2021-04-30,2021-05-03,2021-05-04,2021-05-05,2021-05-06,2021-05-07,2021-05-10,2021-05-11,2021-05-12,2021-05-13,2021-05-14,2021-05-17,2021-05-18,2021-05-19,2021-05-20,2021-05-21,2021-05-24,2021-05-25,2021-05-26,2021-05-27
Name,,,,,,,,,,,,,,,,,,,,
apple,131.237091,132.315247,127.633202,127.882790,129.520004,130.210007,126.849998,125.910004,122.769997,124.970001,127.449997,126.269997,124.849998,124.690002,127.309998,125.430000,127.099998,126.900002,126.849998,125.279999
facebook,325.079987,322.579987,318.359985,315.019989,320.019989,319.079987,305.970001,306.529999,302.549988,305.260010,315.940002,315.459991,309.959991,313.589996,318.609985,316.230011,324.630005,327.790009,327.660004,332.750000
google,2353.500000,2343.080078,2306.830078,2314.770020,2337.350098,2351.929932,2291.750000,2270.060059,2200.250000,2229.040039,2278.379883,2288.919922,2262.469971,2271.500000,2306.949951,2294.129883,2361.040039,2362.870117,2380.310059,2362.679932
microsoft,251.599030,251.279770,247.219147,245.902191,249.154678,251.878387,246.610550,245.662735,238.449402,242.470108,247.578308,244.615158,242.520004,243.119995,246.479996,245.169998,250.779999,251.720001,251.490005,249.309998
netflix,513.469971,509.109985,503.179993,496.079987,499.549988,503.839996,486.690002,495.079987,484.980011,486.660004,493.369995,488.940002,486.279999,487.700012,501.670013,497.890015,502.899994,501.339996,502.359985,503.859985
amazon,3467.419922,3386.489990,3311.870117,3270.540039,3306.370117,3291.610107,3190.489990,3223.909912,3151.939941,3161.469971,3222.899902,3270.389893,3232.280029,3231.800049,3247.679932,3203.080078,3244.989990,3259.050049,3265.159912,3230.110107

In [42]:
import altair as alt

In [43]:
df

Date,2021-04-30,2021-05-03,2021-05-04,2021-05-05,2021-05-06,2021-05-07,2021-05-10,2021-05-11,2021-05-12,2021-05-13,2021-05-14,2021-05-17,2021-05-18,2021-05-19,2021-05-20,2021-05-21,2021-05-24,2021-05-25,2021-05-26,2021-05-27
Name,,,,,,,,,,,,,,,,,,,,
apple,131.237091,132.315247,127.633202,127.882790,129.520004,130.210007,126.849998,125.910004,122.769997,124.970001,127.449997,126.269997,124.849998,124.690002,127.309998,125.430000,127.099998,126.900002,126.849998,125.279999
facebook,325.079987,322.579987,318.359985,315.019989,320.019989,319.079987,305.970001,306.529999,302.549988,305.260010,315.940002,315.459991,309.959991,313.589996,318.609985,316.230011,324.630005,327.790009,327.660004,332.750000
google,2353.500000,2343.080078,2306.830078,2314.770020,2337.350098,2351.929932,2291.750000,2270.060059,2200.250000,2229.040039,2278.379883,2288.919922,2262.469971,2271.500000,2306.949951,2294.129883,2361.040039,2362.870117,2380.310059,2362.679932
microsoft,251.599030,251.279770,247.219147,245.902191,249.154678,251.878387,246.610550,245.662735,238.449402,242.470108,247.578308,244.615158,242.520004,243.119995,246.479996,245.169998,250.779999,251.720001,251.490005,249.309998
netflix,513.469971,509.109985,503.179993,496.079987,499.549988,503.839996,486.690002,495.079987,484.980011,486.660004,493.369995,488.940002,486.279999,487.700012,501.670013,497.890015,502.899994,501.339996,502.359985,503.859985
amazon,3467.419922,3386.489990,3311.870117,3270.540039,3306.370117,3291.610107,3190.489990,3223.909912,3151.939941,3161.469971,3222.899902,3270.389893,3232.280029,3231.800049,3247.679932,3203.080078,3244.989990,3259.050049,3265.159912,3230.110107

In [48]:
companies = ['apple', 'facebook']
data=df.loc[companies]
data

Date,2021-04-30,2021-05-03,2021-05-04,2021-05-05,2021-05-06,2021-05-07,2021-05-10,2021-05-11,2021-05-12,2021-05-13,2021-05-14,2021-05-17,2021-05-18,2021-05-19,2021-05-20,2021-05-21,2021-05-24,2021-05-25,2021-05-26,2021-05-27
Name,,,,,,,,,,,,,,,,,,,,
apple,131.237091,132.315247,127.633202,127.882790,129.520004,130.210007,126.849998,125.910004,122.769997,124.970001,127.449997,126.269997,124.849998,124.690002,127.309998,125.430000,127.099998,126.900002,126.849998,125.279999
facebook,325.079987,322.579987,318.359985,315.019989,320.019989,319.079987,305.970001,306.529999,302.549988,305.260010,315.940002,315.459991,309.959991,313.589996,318.609985,316.230011,324.630005,327.790009,327.660004,332.750000

In [49]:
data.sort_index()

Date,2021-04-30,2021-05-03,2021-05-04,2021-05-05,2021-05-06,2021-05-07,2021-05-10,2021-05-11,2021-05-12,2021-05-13,2021-05-14,2021-05-17,2021-05-18,2021-05-19,2021-05-20,2021-05-21,2021-05-24,2021-05-25,2021-05-26,2021-05-27
Name,,,,,,,,,,,,,,,,,,,,
apple,131.237091,132.315247,127.633202,127.882790,129.520004,130.210007,126.849998,125.910004,122.769997,124.970001,127.449997,126.269997,124.849998,124.690002,127.309998,125.430000,127.099998,126.900002,126.849998,125.279999
facebook,325.079987,322.579987,318.359985,315.019989,320.019989,319.079987,305.970001,306.529999,302.549988,305.260010,315.940002,315.459991,309.959991,313.589996,318.609985,316.230011,324.630005,327.790009,327.660004,332.750000

In [52]:
data = data.T.reset_index()